@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  background-color: #fdb8b8;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.6;
  color: #628395;
}

h1 {
  color: #262A53;
  line-height: 56px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #262A53;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #262A53;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #628395;
  text-decoration: underline;
}

a:hover {
  background-color: rgb(36, 228, 84);
  opacity: 0.8;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: #FFE3E3;
  padding: 40px;
  box-shadow: 2px 2px 8px rgb(58, 54, 54);
  border-radius: 20px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline;
  padding: 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.fab {
  font-size: 250%;
}

.btn {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
